DEBUG = 1
SECRET_KEY = secret_key_project_django
DJANGO_ALLOWED_HOSTS = localhost,127.0.0.1

EMAIL_HOST = your_email_host
EMAIL_HOST_USER = your_email_user
EMAIL_HOST_PASSWORD = your_email_password
EMAIL_PORT = port_email_server
EMAIL_USE_SSL = true/false or EMAIL_USE_TLS
DEFAULT_FROM_EMAIL = default_from
